#Tanzu Network Files
tanzu-cluster-essentials-darwin-amd64-1.3.0.tgz
tanzu-framework-darwin-amd64.tar
00-set-environment-variables-viktorious.sh
single-cluster/tap-values-viktorious.yaml
.vscode/settings.json
.DS_Store
single-cluster/06-install-tap-viktorious.sh
single-cluster/tkg01-for-tap-vsphere-with-tanzu-viktorious.yaml
single-cluster/06b-install-tap-viktorious.sh
single-cluster/09b-update-tap-viktorious.sh
