#Tanzu Network Files
single-cluster/tanzu-cluster-essentials*.tgz
single-cluster/tanzu-framework*.tar
*viktorious*
*DS_Store*
single-cluster-ns-provisioner/tanzu-cluster-essentials-darwin-amd64-1.7.2.tgz
.DS_Store
